<launch>
  <arg name="base"      value="kobuki"/>
  <param name="use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find neato_simulator)/worlds/empty.world"/>
  </include>
  
  <include file="$(find neato_simulator)/launch/includes/neato.launch.xml"/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
</launch>
