<launch>
    <!-- Create World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find iarc_sim_3d)/worlds/iarc.world"/>
    </include>
    <!-- Spawn simulated quadrotor uav -->
    <include file="$(find iarc_sim_3d)/launch/spawn_drone.launch"/>

    <!-- Spawn Targets -->
    <include file="$(find iarc_sim_3d)/launch/spawn_targets.launch"/>
    <!-- Spawn Obstacles -->
    <include file="$(find iarc_sim_3d)/launch/spawn_obstacles.launch"/>

</launch>
