<launch>
    <!-- Create World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find iarc_sim_3d)/worlds/iarc.world"/>
    </include>
    <!-- Spawn simulated quadrotor uav -->
    <include file="$(find iarc_sim_3d)/launch/spawn_drone.launch" >
    </include>

    <!-- Spawn Targets -->
    <node name="spawn_targets" pkg="iarc_sim_3d" type="spawn.sh" output="screen"/>

</launch>
