<?xml version="1.0"?>
<launch>
    <arg name="ns" default="drone"/>
    <arg name="model" default="$(find cvg_sim_gazebo)/urdf/quadrotor_sensors.urdf.xacro"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- send the robot XML to param server -->
    <param name="$(arg ns)/urdf" command="$(find xacro)/xacro '$(arg model)' tf_prefix:=$(arg ns) --inorder" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param $(arg ns)/urdf 
        -urdf
        -x '$(arg x)'
        -y '$(arg y)'
        -z '$(arg z)'
        -R '$(arg R)'
        -P '$(arg P)'
        -Y '$(arg Y)'
        -model quadrotor"
        respawn="false" output="screen"/>

    <!-- start robot state publisher -->
    <group ns="$(arg ns)">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="state" output="screen" >
            <remap from="robot_description" to="$(arg ns)/urdf" />
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" type="string" value="$(arg ns)" />
        </node>
    </group>

    <node name="gt_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
		<!--<param name="odometry_topic" value="ground_truth/state" />-->
		<param name="odometry_topic" value="noisy_odom" />
        <param name="frame_id" value="odom" /> <!-- maybe? -->
        <param name="tf_prefix" type="string" value="$(arg ns)" />
        <remap from="tf" to="tf_drone"/> <!-- No support for tf_prefix, quite terrible. -->
    </node>

    <node pkg="tf" type="tf_remap" name="tf_remap_drone" output="screen">
        <rosparam param="mappings">
            [{old: base_footprint, new: /drone/base_footprint},
            {old: base_stabilized, new: /drone/base_stabilized},
            {old: base_link, new: /drone/base_link}]
        </rosparam>
        <remap from="tf_old" to="tf_drone"/>
    </node>

    <!-- node name="hector_pose_estimation" pkg="hector_pose_estimation" type="hector_pose_estimation_node" output="screen"/-->

</launch>

