<?xml version="1.0"?>
<model>
    <name>IARCGrid</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>

    <author>
        <name>Yoonyoung (Jamie) Cho</name>
        <email>jchocholate@gmail.com</email>
    </author>

    <description>
        IARC Grid
    </description>
</model>
