<launch>
  <arg name="use_sim_time" value="false"/>
  <arg name="host"/>
  <arg name="receive_port" default="5000"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="fps" default="30"/>

  <include file="$(find neato_node)/launch/bringup_minimal.launch">
	<arg name="host" value="$(arg host)"/>
  </include>
  <include file="$(find gscam)/examples/raspi_nodelet_udp.launch">
	 <arg name="host" value="$(arg host)"/>
   <arg name="receive_port" value="$(arg receive_port)"/>
   <arg name="width" value="$(arg width)"/>
   <arg name="height" value="$(arg height)"/>
   <arg name="fps" value="$(arg fps)"/>
  </include>
</launch>
