<?xml version="1.0"?>
<robot name="sensor_hokuyo" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="sensor_hokuyo" params="parent">
    <link name="base_laser_link">
   <!--<collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
        <box size="0.1 0.1 0.1"/>
     </geometry>
   </collision>
-->
   <visual>
     <origin xyz="0 0 -.03" rpy="0 0 0"/>
     <geometry>
       <mesh filename="package://neato_simulator/model/hokuyo.dae"/>
     </geometry>
   </visual>
   <inertial>
     <mass value="1e-5" />
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
   </inertial>
 </link>
 <joint name="hokuyo_joint" type="fixed">
   <axis xyz="0 0 1" />

   <origin xyz="0 0 0.13" rpy="0 0 -3.14159"/>
   <!--<origin xyz="0 -0.035 0.035" rpy="0 0 0"/>-->
<parent link="base_link"/>
   <!--<parent link="${parent}"/> -->
   <child link="base_laser_link"/>
 </joint>
 </xacro:macro>
  <gazebo reference="base_laser_link">
    <sensor type="ray" name="laser">
	<ray>
	  <scan>
	    <horizontal>
	      <samples>361</samples>
	      <resolution>1</resolution>
	      <min_angle>-3.14159265</min_angle>
	      <max_angle>3.14159265</max_angle>
	    </horizontal>
	  </scan>
	  <range>
	    <min>0.05</min>
	    <max>6.0</max>
	    <resolution>.36</resolution>
	  </range>
	  <noise>
	<type>gaussian</type>
	<mean>0.0</mean>
	<stddev>0.01</stddev>
	</noise>
	</ray>
	<always_on>1</always_on>
	<update_rate>5</update_rate>
	<plugin name="LIDAR_en_ros" filename="libgazebo_ros_laser.so">
	  <topicName>/base_scan</topicName>
	  <frameName>base_laser_link</frameName>
	  <updateRate>5.0</updateRate>
        </plugin>
   </sensor>
  </gazebo>
  </robot>
