<launch>
  <node name="arbiter" ns="arbiter" pkg="iarc_arbiter" type="arbiter.py" output="screen">
    <rosparam param="behaviors">['forebrain', 'teleop', 'goto_click']</rosparam>
  </node>
  <node name="move_base_relay" ns="goto_click" pkg="iarc_main" type="follow_click.py" output="screen"/>
</launch>
