<launch>
    <include file="$(find mavros)/launch/px4.launch">
	</include>
    <node pkg="iarc_main" type="pixhawk_connector.py" name="pixhawk_connector" output="screen"/>
    <node pkg="tf" type="static_transform_publisher" name="camera_transform"
          args="0 0 0 3.1415 0 0 base_link bottom_cam 100"/>
    <node pkg="tf" type="static_transform_publisher" name="fcu_transform" args="0 0 0.1 0 0 0 base_link fcu 100" />
</launch>
