<launch>
    <!-- if simulated, run simulation observation interface -->
    <!-- i.e. pretend like visual detection is running. -->
	<arg name="gz_obs" default="true"/>
    <arg name="sim2d" default="false"/>

    <!-- enable visualization interface, rviz output markers -->
	<arg name="viz" default="true"/>

	<node if="$(arg gz_obs)" name="gz_int" pkg="iarc_roombafilter" type="f_gz.py"/>
	<node name="filter" pkg="iarc_roombafilter" type="f_ros.py" output="screen">
        <param name="sim2d" value="$(arg sim2d)"/>
    </node>
	<group if="$(arg viz)">
		<node name="rviz_int" pkg="iarc_roombafilter" type="f_rviz.py" output="screen">
			<param name="show_gz" value="$(arg gz_obs)"/>
		</node>
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find iarc_roombafilter)/config/filter_status.rviz">
            <param name="sim2d" value="$(arg sim2d)"/>
        </node>
	</group>
</launch>
